<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huashe.lockscreen">
    <!-- 亮屏的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- <user-permission android:name="android.permission.DEVICE_POWER"/> -->
    <uses-permission android:name="android.permission.USES_POLICY_FORCE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.STOP_APP_SWITCHES" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
  录音权限
      <uses-permission android:name="android.permission.RECORD_AUDIO" />
    -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".test.TestActivity"
            android:launchMode="singleTask">

        </activity>
        <!--
这里的excludeFromRecents设置成true可以不在任务列表中显示 android:excludeFromRecents="true"
        锁屏需要程序不易被杀死，可以先设置一个版本添加进白名单，然后用一个在最近任务列表中隐藏版本的apk进行覆盖。
        -->
        <activity
            android:name=".MainActivity"
            android:label="锁屏ing"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--这个添加通知栏的服务用于提升优先级-->
        <service
            android:name=".service.WhiteService"
            android:enabled="true"
            android:exported="false"
            android:process=":white" />



        <!-- 这个是熄屏，亮屏需要的配置 -->
        <receiver
            android:name=".View.ScreenOffAdminReceiver"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>